name: AppImage Release

on:
  workflow_call:

jobs:
  build:
    name: Build AppImage
    runs-on: Ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Compile Rust code
        run: cargo build --release

      - name: Create AppDir structure
        run: |
          mkdir -p AppDir/usr/bin
          cp target/release/resize_ferris AppDir/usr/bin/

          # Create AppRun (entry executable)
          echo -e '#!/bin/bash\nexec "${APPDIR}/usr/bin/resize_ferris" "$@"' > AppDir/AppRun
          chmod +x AppDir/AppRun

          # .desktop file
          cat > AppDir/resize_ferris.desktop <<EOF
          [Desktop Entry]
          Type=Application
          Name=Resize Ferris
          Exec=${APPDIR}/usr/bin/resize_ferris
          Icon=ferris
          Categories=Utility;
          EOF

          # Icon
          cp ferris.png AppDir/ferris.png

      - name: Download appimagetool
        run: |
          wget https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage
          chmod +x appimagetool-x86_64.AppImage

      - name: Build AppImage
        run: |
          ./appimagetool-x86_64.AppImage AppDir ResizeFerris-${{ github.ref_name }}-x86_64.AppImage

      - name: Save build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ResizeFerris-${{ github.ref_name }}-x86_64.AppImage
          path: "./*.AppImage*"
